*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 1480px;
   margin: 0px auto;
    
}

 .nav-link ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
}

li:hover{
    color: pink;
    cursor: pointer;
}

.span{
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 116, 139)
}

.banner-img {
    margin-top: 15px;
    background-image: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* card title */

.card-title{
    text-align: center;
    margin-top: 80px;
}