*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 1480px;
   margin: 0px auto;
   
    
}

 .nav-link ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 20px;
}

li:hover{
    color: pink;
    cursor: pointer;
}

.span{
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 116, 139)
}
.banner-container{
    background-image: url("./assets/Banner.png");
    background-repeat: no-repeat;
    margin-left: 240px;
    margin-top: 25px;
}

.banner-img {
    margin-left: 860px;
    width: 210px;
    

}

/* card title */

.card-title{
    text-align: center;
    margin-top: 80px;
}

/* car-section */

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card-content{
   text-align: center;
   margin-top: -50px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 131, 152);
}

.card-btn{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-weight: bolder;
}
.card-btn:hover{
    color: rgb(255, 56, 89);
}


.selling-tile{
    font-size: 40px;
   margin-top:30px ;
    text-align: center;
}


/* seller option */

.seller-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 80px;
}