*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    margin-top: 20px;
}

 .nav-link ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    font-weight: bolder;
    font-size: 18px;
}

li:hover{
    color: pink;
    cursor: pointer;
}

.span{
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 192, 203, 0.903)
}